langchain
python-dotenv
ipykernel
pypdf
langchain-text-splitters
langchain-openai
langchain-community
langchain_huggingface
faiss-cpu
streamlit
langchain_groq
langchain_core
langserve
huggingface_hub
langgraph
langsmith
sentence-transformers
cryptography>=3.1
langchain-google-genai
langchain-tavily